// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');
$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/sass-flex-mixin/_flex.scss";
@import "bower_components/flexboxgrid-sass/flexboxgrid.scss";
// endbower

$grid-columns: 12;
$gutter-width: 1rem;
$outer-margin: 1rem;

/* Space out content a bit */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Custom page header */
#bg-header {
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/43688.jpg);
  background-size: cover;  
  min-width: 100%;
  height:100vh;
  padding: 15px 0;
  z-index: -1;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#header {
  position: relative;
  top: 0; left: 0;
  min-width: 100%;
  height:100vh;
  padding: 15px 0;
  z-index: 1;
}

.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 70%;
  margin: 0 auto;
  height: 70px;
  margin-top: 15px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
  float:left;
}
.navigation-bar ul {
  padding: 0;
  margin: 0;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#menu {
  float: right;
}

.header-text {
  color: #fff;
  font-family: 'Poppins Bold', sans-serif;
  margin: 25px 0 0 15%;
}

.header-text h1 {
  font-size: 7em;
  text-transform: uppercase;
  font-weight: bold;
}

.color-blue {
  color: #4A90E2;
}

.header-text p {
  font-size: 1.2em;
}

.header-text button {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
  padding: 15px 50px;
  background-color: #4A90E2;
  border: none;
  border-radius: 5px;
}

.header-bottom {
  position: absolute;
  width: 100%;
  height: 160px;
  bottom: 0;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

.trending-today {
  text-align: right;
  font-family: 'Poppins Bold', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 20px 15px 0;
}

.header-bottom-columns {
	font-size: 1em;
	line-height: 25px;
}

.header-bottom .box-row {
  margin: 0 10px;
}

.divider {
  border-right: 1px solid #fff;
}

/************ GALLERY **************/

#gallery {
  background-color: #F8F8F8;
}

.arrows-nav {
  margin-top: 150px;
  float: left;
  vertical-align: middle;
  font-size: 4em;
  color: #4A90E2;
}

.imgs-gallery {
  text-align: center;
}

.img-gallery {
  background-color: #fff;
  float: left;
  width: 300px;
  overflow: hidden;
  margin: 20px 40px;
  color: #999;
  text-align: left;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
}

.img-gallery h3 {
  font-size: 1.4em;
  color: #333;
}

.img-gallery img {
  width: 400px;
  height: 250px;
  margin-left: -50px;
}

/************ ABOUT US **************/

#about {
  background-color: #F8F8F8;
}

#about h3 {
  font-family: 'Poppins Bold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.img-about {
  float: left;
  width: 300px;
  overflow: hidden;
  margin: 20px 40px;
  border-radius: 5px;
  margin-left: 100px;
}

#about img {
  width: 400px;
  height: 250px;
  margin-left: -50px;
  
}

#about p {
  line-height: 2em;
  margin-right: 100px
}

/************ FOOTER **************/

#footer {
  background-color: #F8F8F8;
  padding-bottom: 100px;
}

.text-footer {
  font-family: 'Poppins Bold', sans-serif;
  margin-left: 100px;
  color: #ccc;
  border-top: 1px solid #F0F0F0;
  font-size: .8em;
  padding-top: 3px;
}

/************ RESPONSIVE MEDIA QUERIES **************/
@media screen and (max-width: 767px) {
  #header {
    visibility: hidden;
    clear: both;
    display: none;
  }
}